# Azure OpenAI Configuration
OPENAI_ENDPOINT=your_api_endpoint
OPENAI_API_KEY=your_api_key
OPENAI_DEPLOYMENT_NAME=gpt-4o
OPENAI_FAST_DEPLOYMENT_NAME=gpt-4.1-mini
OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-ada-002

# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_supabase_service_key
